::selection {
    background: transparent;
    color: #04edf1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    cursor: none;
}
main {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #04edf1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main h1{
    font-size: 3.4rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

main h1 span {
    display: inline-block;
    transition: font-size 0.2s ease;
}

main h1 span.hovered {
    font-size: 4.5rem;
}

.cursor {
    position: fixed;
    width: 26px;
    height: 26px;
    border: 1.8px solid #04edf1;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 10px #04edf1, 0 0 20px #04edf1, 0 0 30px #04edf1;
}


.cursor::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #04edf1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.cursor.clicking {
    border-color: rgba(4, 237, 241, 0.4);
}

.cursor.clicking::after {
    width: 18px;
    height: 18px;
    background-color: rgba(4, 237, 241, 0.35);
    transition: 0.15s ease;
}

@media (max-width: 768px) {
    main h1 {
        font-size: 2.5rem;
    }

    main h1 span.hovered {
        font-size: 3.5rem;
    }
}




